@import './fonts.scss';
@import './variables.scss';
@import './normalize.scss';

:root{
    font-size: 28px;
}

*{
    margin: 0;
    padding: 0;
}

html{    
    height: 100vh;
    width: 100vw;
    font-family: 'Manrope', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    position: relative;
}

#root{
    height: 100%;
    width: 100%;
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
}